@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

body{
    background: linear-gradient(to right, #b24592, #f15f79);
}

h1{
    text-align: center;
    font-family: 'Merriweather', serif;
}

section{
    width: 50vw;
    border: solid 3px black;
    margin-left: 25vw;
    margin-top: 40px;
}

@media screen and (max-width: 480px){
    section{
        width: 100vw;
        border: solid 3px red;
    }
}

article{
    width: 100%;
    height: 100%;
}

#inp{
    display: block;
    margin: auto;
    transform: scale(2);
    border-radius: 5px;
}

#task{
    display: block;
    margin: auto;
    margin-top: 25px;
    transform: scale(1.8);
    border-radius: 3px;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
}

h3{
    text-align: center;
    margin: 25px;
    font-family: 'Kiwi Maru', serif;
    color: yellow;
}

#list{
    list-style: none;
}

#list li{
    border: 3px solid pink;
    font-family: 'Times New Roman', Times, serif;
    margin: 5px;
    font-weight: bold;
    font-size: large;
    padding: 5px;
    border-radius: 5px;
}





